
.content {
  flex: 1;
  padding: var(--content-padding);
}

.quiz-container {
  max-width: var(--max-container-width);
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mat-horizontal-stepper-header-container {
  margin-bottom: 1.5rem;
}

.mat-horizontal-stepper-content {
  margin-top: 1.5rem;
}


.quiz-container form {
  margin: 1rem 0;
}


.mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.review-list {

  margin: 2rem 0;
  line-height: 1.5;
}

.review-list li {
  margin-bottom: 0.5rem;
}


button.mat-button,
button.mat-raised-button {
  font-size: var(--base-font-size);
  padding: 0.8rem 1.2rem;
}


@media (max-width: 768px) {
  .quiz-container {
    padding: 1.5rem;
    margin: 1.5rem;
  }
  .mat-step-header {
    font-size: 1.6rem;
    padding: 1rem;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.mat-step-header {
  font-size: var(--step-header-font-size);
  padding: var(--step-header-padding);
}



@media (max-width: 768px) {
  .quiz-container {
    padding: 1.5rem;
    margin: 1.5rem;
  }
  .mat-step-header {
    font-size: 1.6rem;
    padding: 1rem;
  }
}
:host {
  display: block;
  background: linear-gradient(to bottom right, #c3c3ef 0%, #ca75e6 100%);
  min-height: 100vh;
  background-size: cover;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
}

.profile-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 100%;
}

/* For smaller screens, adjust grid columns */
@media (max-width: 1000px) {
  .profile-cards-grid {
    grid-template-columns: 1fr;
  }
}
.top-matches-header {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  text-align: center;
}
mat-radio-group {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  margin-bottom: 8px;
}

/*override the inherited mat styling*/
.mat-mdc-checkbox, .mat-mdc-radio-button{
  --mdc-form-field-label-text-font: Roboto, sans-serif;
  --mdc-form-field-label-text-line-height: 20px;
  --mdc-form-field-label-text-size: 20px;
  --mdc-form-field-label-text-tracking: 0.0178571429em;
  --mdc-form-field-label-text-weight: 400;
}

.prompt {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1rem;
}

mat-card {
  padding: 20px;
  background: #fde787;
  align-self: center;
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
