<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a routerLink="/privacy" routerLinkActive="active-link">Privacy Policy</a>
      <a routerLink="/terms" routerLinkActive="active-link">Terms of Service</a>
      <a routerLink="/home/contact" routerLinkActive="active-link">Contact Us</a>
    </div>
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
        <mat-icon>x</mat-icon>
      </a>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <mat-icon>instagram</mat-icon>
      </a>
      <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
        <mat-icon>linkedin</mat-icon> <!-- LinkedIn Icon -->
      </a>
      <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
        <mat-icon>youtube</mat-icon> <!-- YouTube Icon -->
      </a>

    </div>
    <p>&copy; 2024 TuneUp. All Rights Reserved.</p>
  </div>
</footer>
