/* Container for the main content */
.main-container {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  gap: 16px;
}


.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Main container for the search results */
.search-results-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}

/* Profile cards grid */
.profile-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default 5 items per row */
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}

/* For medium screens (e.g., tablets) - 3 items per row */
@media (max-width: 1200px) {
  .profile-cards-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  }
}

/* For smaller screens (e.g., mobile phones) - 1 item per row */
@media (max-width: 900px) {
  .profile-cards-grid {
    grid-template-columns: 1fr; /* 1 item per row for mobile screens */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  .sidenav-container {
    height: 100vh;
  }

  .sidenav {
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .mobile-sidebar-banner {
    background-color: #6105ff; /* Purple background for the banner */
    color: #ffffff; /* White font color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;

  }

  .banner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }

  .banner-header span {
    font-size: 16px;
    font-weight: 500;
  }

  .banner-content {
    padding: 16px;
  }

  .search-results-container {
    padding: 16px;
  }

  .profile-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }

  .no-results {
    text-align: center;
    color: #666;
    margin-top: 20px;
  }
  .mobile-search-banner {
    background-color: #000000; /* Black background for the banner */
    color: #ffffff; /* White font color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
  }

}
