.account-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1500px;
  margin: 50px auto;
}

.current-details {
  flex: 1;
  max-width: 100%;
  width: 100%;
  font-size: 1.2rem; /* Adjust font size as desired */
  line-height: 1.6;  /* Optional: improves readability */
}

.update-forms {
  flex: 1;
  max-width: 50%;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.password-section {
  display: flex;
  flex-direction: column;
}

mat-card {
  padding: 20px;
}

mat-card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

form {
  margin-bottom: 30px;
}


@media (max-width: 768px) {
  .account-settings-container {
    flex-direction: column;
    gap: 30px;
  }

  .current-details {
    max-width: 100%;
    order: 1;
  }

  .update-forms {
    max-width: 100%;
    order: 2;
  }
}

.feedback-container {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.success-message {
  color: white;
  background-color: green;
}

.error-message {
  color: white;
  background-color: red;
}
