.services-container {
  padding: 40px 16px;
  background: linear-gradient(to bottom right, #2b84c6, #ffd75e);
  text-align: center;
  color: #fff;
}

.services-container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}


.service-card {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex: 1 1 300px;
  max-width: 300px;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-bottom: 8px;

  mat-icon {
    font-size: 25px;
  }
}

mat-card-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 8px;
}

mat-card-content {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 8px;
}

/* Responsive: Stack cards vertically on smaller screens */
@media (max-width: 768px) {
  .services-grid {
    flex-direction: column;
    align-items: center;
  }
}
