<mat-dialog-content class="dialog-content">
  <h2 class="dialog-title">Pending Lesson Requests</h2>

  <ng-container *ngIf="lessonRequests.length > 0; else noRequests">
    <div *ngFor="let request of lessonRequests" class="request-item">

      <!-- Stack Time Info and Actions Vertically -->
      <div class="request-container">
        <div class="request-info">
          <mat-icon class="time-icon">schedule</mat-icon>
          <p class="request-time">
            <strong>Time:</strong> <p class="request-time">
          {{ request.requestedStartTime | date: 'MMMM d, yyyy' }} at {{ request.requestedStartTime | date: 'HH:mm' }}
          -
          {{ request.requestedEndTime | date: 'MMMM d, yyyy' }} at {{ request.requestedEndTime | date: 'HH:mm' }}
        </p>
        </div>
        <div>{{request.lessonType}}</div>
        <div class="request-actions">
          <button mat-raised-button color="primary" class="confirm-btn" (click)="confirmRequest(request.id)">
            <mat-icon>check</mat-icon> Confirm
          </button>
          <button mat-raised-button color="warn" class="deny-btn" (click)="denyRequest(request.id)">
            <mat-icon>close</mat-icon> Decline
          </button>
        </div>
      </div>
      <br>
    </div>

    <mat-checkbox [(ngModel)]="autoDeclineConflicts">
      Automatically decline other conflicting requests
    </mat-checkbox>

    <!-- Pagination -->
    <mat-paginator class="paginator"
                   [length]="totalElements" [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </ng-container>

  <ng-template #noRequests>
    <p class="no-requests">No lesson requests found.</p>
  </ng-template>
</mat-dialog-content>


<mat-dialog-actions class="dialog-actions">
  <button mat-button class="close-btn" (click)="closeDialog()">Close</button>
</mat-dialog-actions>
