<app-navbar></app-navbar>
<form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLogin()">
  <mat-card class="login-card double-width-card">
    <div class="left-side">
      <mat-card-title>Login</mat-card-title>

      <mat-card-content>
        <!-- Error message displayed here if login fails -->
        <div *ngIf="errorMessage" class="error-message">
          <mat-error>{{ errorMessage }}</mat-error>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Toggle password visibility'"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="additional-options">
          <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
          <a routerLink="/forgot-password" class="forgot-password-link">Forgot password?</a>
        </div>
      </mat-card-content>

      <mat-card-actions class="button-actions">
        <button mat-raised-button color="primary" (click)="onLogin()" [disabled]="!loginForm.valid">
          Login
        </button>
      </mat-card-actions>

      <div class="sso-options">
        <span>or log in with:</span>
        <div class="sso-buttons">
          <button mat-icon-button (click)="loginWithGoogle()">
            <mat-icon>google</mat-icon>
          </button>
          <button mat-icon-button (click)="loginWithFacebook()">
            <mat-icon>facebook</mat-icon>
          </button>
          <button mat-icon-button (click)="loginWithOutlook()">
            <mat-icon>email</mat-icon>
          </button>
        </div>
      </div>

      <mat-card-footer class="signup-footer">
        <span>Don't have an account?</span>
        <a routerLink="/signup" class="signup-link">Sign up</a>
      </mat-card-footer>
    </div>

    <!-- Right side: Image -->
    <div class="right-side">
      <img src="./assets/pexels-yankrukov-8520444.jpg" alt="Login Image" class="login-image" />
    </div>
  </mat-card>
</form>
