<div class="search-bar-container">
  <!-- Instrument Dropdown -->
  <mat-form-field appearance="outline" class="dropdown">
    <mat-label>Instrument</mat-label>
    <mat-icon matPrefix>music_note</mat-icon>
    <mat-select [(value)]="selectedInstrumentId" (selectionChange)="onInstrumentChange()">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let instrument of instruments" [value]="instrument.id">
        {{ instrument.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Genre Dropdown -->
  <mat-form-field appearance="outline" class="dropdown">
    <mat-label>Genre</mat-label>
    <mat-select [(value)]="selectedGenreId" (selectionChange)="onGenreChange()">
      <mat-option [value]="null">None</mat-option>
      <mat-option *ngFor="let genre of genres" [value]="genre.id">
        {{ genre.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Profile Type Dropdown -->
  <mat-form-field appearance="outline" class="dropdown">
    <mat-label>Tutor or Student</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <mat-select [(value)]="selectedProfileType" (selectionChange)="onProfileTypeChange()">
      <mat-option [value]="null">None</mat-option>
      <mat-option value="student">Student</mat-option>
      <mat-option value="tutor">Tutor</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Search Bar -->
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Search</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" [(ngModel)]="searchQuery" placeholder="Search..." />
  </mat-form-field>

  <!-- Search Button -->
  <button mat-raised-button color="primary" class="search-btn" (click)="onSearchClick()">Search</button>
</div>
