
.search-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #ffffff;
  box-sizing: border-box;
}


.search-bar-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;


  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  padding-left: 20px;
  padding-top: 40px;
  width: 100%;
  box-sizing: border-box;
}

.mat-form-field {
  flex: 1;
  width: 100%;
  max-width: 200px;
}
.dropdown .mat-form-field {
  width: 100%;
}

.search-input {
  flex: 2;
  max-width: 500px;
}

button[mat-raised-button] {
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.2s;
}

button[mat-raised-button]:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button[mat-raised-button]:active {
  transform: scale(0.98);
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .search-bar-container {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    max-width: 100%;
  }

  .mat-form-field,
  button[mat-raised-button] {
    width: 100%;
  }
}
