<mat-card class="tuition-summary-container">
  <mat-card-title>Tuition Summary For {{profile.displayName}}</mat-card-title>

  <div class="tuition-details">
  <span class="profile-type-chip mat-chip mat-chip-outline">
    Tuition Start Date : {{ tuitionSummary?.startDate }}
  </span>
    <br>
    <br>

    <!-- Show End Date ONLY if tuition is inactive -->
    <span
      *ngIf="!tuitionSummary?.activeTuition"
      class="profile-type-chip mat-chip mat-chip-outline">
    Tuition End Date : {{ tuitionSummary?.endDate }}
  </span>
    <br>
    <br>

    <!-- Display Active/Inactive Status -->
    <span class="profile-type-chip mat-chip mat-chip-outline">
    {{ tuitionSummary?.activeTuition ? 'Active' : 'Inactive' }}
  </span>
  </div>


  <!-- Calendar Placeholder -->
  <div class="calendar-placeholder">
    <mat-card-title>Lesson Schedule</mat-card-title>
        <button *ngIf="isTimeGridView" mat-raised-button color="primary" (click)="switchToMonthView()">
          Month View
        </button>
        <br><br>
    <div *ngIf="!loading">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>

  <!-- Links -->
  <div class="tuition-links">
    <button mat-raised-button color="primary" routerLink="/user-dashboard/payments">Go to Payments</button>
    <button mat-raised-button color="accent" routerLink="/user-dashboard/chats">Go to Chats</button>


    <!-- Show Deactivate Tuition button  if tuition is active -->
    <button
      *ngIf="tuitionSummary?.activeTuition"
      mat-raised-button
      color="warn"
      (click)="deactivateTuition()">
      Stop Tuition
    </button>
  </div>


  <!-- Profile Summaries -->
  <div class="profiles-container">
    <!-- Student Profile Card -->
    <mat-card class="profile-card" [ngClass]="{
       'tutor-card': profile.profileType === 'Tutor',
       'student-card': profile.profileType === 'Student'
     }">
      <span class="profile-type-chip mat-chip mat-chip-outline" > {{profile.profileType}} </span>
      <br>
      <img [src]="profile?.profilePicture?.url || 'https://storage.googleapis.com/download/storage/v1/b/tuneup_profile_images/o/79a88d6b-8196-49cf-9cde-d6d4d3bf10fd-defaultProfilePicture.jpg?generation=1735034744997677&alt=media'"
           alt="Profile Picture" class="profile-picture">
      <h3>{{ profile.displayName }}</h3>
      <p *ngIf="profile.tuitionRegion?.name">Region: {{ profile.tuitionRegion.name }}</p>
      <button mat-raised-button color="primary" routerLink="/profiles/{{profile.id}}">View Profile</button>
      <button
        *ngIf="profile.profileType === 'Tutor' && userProfile.profileType ==='Student'"
        mat-raised-button
        color="accent"
        class = "yellow-button"
        (click)="leaveReview(profile.displayName)">
        Leave a Review
      </button>
    </mat-card>

    <!-- Tutor Profile Card -->
    <mat-card class="profile-card"  [ngClass]="{
       'tutor-card': userProfile.profileType === 'Tutor',
       'student-card': userProfile.profileType === 'Student'
     }">
      <span class="profile-type-chip mat-chip mat-chip-outline" > {{userProfile.profileType}} </span>
      <br>
      <img [src]="userProfile?.profilePicture?.url || 'https://storage.googleapis.com/download/storage/v1/b/tuneup_profile_images/o/79a88d6b-8196-49cf-9cde-d6d4d3bf10fd-defaultProfilePicture.jpg?generation=1735034744997677&alt=media'"
           alt="Profile Picture" class="profile-picture">
      <h3>{{ userProfile.displayName }}</h3>
      <p *ngIf="userProfile.tuitionRegion?.name">Region: {{ userProfile.tuitionRegion.name }}</p>
      <button mat-raised-button color="primary" routerLink="/profiles/{{userProfile.id}}">View Profile</button>
    </mat-card>
  </div>
  <br>
  <div class="back-button-container">
    <button mat-raised-button color="warn" (click)="goBackToTuitions()"> <mat-icon>arrow_back</mat-icon> Back to All Tuitions</button>
  </div>
</mat-card>
