.filter-accordion {
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;

  mat-expansion-panel {
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  mat-expansion-panel-header {
    height: 60px;
    align-items: center;
    font-size: 18px;
    padding: 0 40px;
    border-bottom: 1px solid #ddd;
  }
  .checkbox-list {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 16px;
  }

  .checkbox-list .mat-checkbox {
    width: 100%;
    font-size: 22px; /* Increased font size for checkbox text */
  }

  .price-inputs {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 8px;
  }

  .price-inputs mat-form-field {
    flex: 1;
    font-size: 16px; /* Adjust input font size */
  }

  .rating-filter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;
    font-size: 16px; /* Adjust rating font size */
  }

  .search-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;
    font-size: 16px; /* Adjust search font size */
  }

  .selected-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px; /* Slightly larger for emphasis */
    color: #444;
  }

  .selected-rating mat-icon {
    color: #ffc107;
  }

  .rating-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px; /* Adjust rating option font size */
  }

  .rating-option mat-icon {
    margin-right: 4px;
    font-size: 24px;
    color: #ffc107;
  }

  .rating-option:hover mat-icon {
    color: #ffb300;
  }

}
