<div class="review-card">
  <button
    class="arrow left-arrow"
    (click)="prevReview()"
    aria-label="Previous review"
  >
    <mat-icon aria-hidden="true">chevron_left</mat-icon>
    <span class="sr-only">Previous</span>
  </button>

  <!-- Review Content -->
  <div class="review-content">
    <!-- Reviewer's Name -->
    <h1> {{ currentReview.title}}</h1>
    <h2 class="reviewer-name">{{ currentReview.reviewer }}</h2>

    <!-- Average Rating -->
    <div class="average-rating">
      <span class="stars">
        <ng-container *ngFor="let star of getStars(); let i = index">
          <mat-icon *ngIf="i < currentReview.rating">star</mat-icon>
          <mat-icon *ngIf="i >= currentReview.rating">star_border</mat-icon>
        </ng-container>
      </span>
      <span class="rating-text">{{ currentReview.rating}} / 5</span>
    </div>

    <!-- Review Text -->
    <p [class.truncated]="!showFullText && isTextTruncated()">
      {{ currentReview.comment }}
    </p>

    <!-- "See More" Link -->
    <a *ngIf="isTextTruncated()" class="see-more-link" (click)="toggleText()">
      {{ showFullText ? 'See Less' : 'See More' }}
    </a>
  </div>

  <button
    class="arrow right-arrow"
    (click)="nextReview()"
    aria-label="Next review"
  >
    <mat-icon aria-hidden="true">chevron_right</mat-icon>
    <span class="sr-only">Next</span>
  </button>

</div>
