<mat-toolbar class="logo-matching-toolbar">
  <!-- Hamburger Icon -->
  <button (click)="toggleMenu()" class="hamburger-menu">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Website Title -->
  <div class="website-title">
    <img src="/assets/mainLogo.png" alt="TuneUp Logo" class="logo" />
  </div>

  <!-- Centered Navigation Links -->
  <div class="nav-links" [ngClass]="{'expanded': !isCollapsed}">
    <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/home/about" routerLinkActive="active-link">About</a>
    <a mat-button routerLink="/home/services" routerLinkActive="active-link">Services</a>
    <a mat-button routerLink="/home/contact" routerLinkActive="active-link">Contact</a>
  </div>


  <!-- Notification Icon -->
  <ng-container *ngIf="AuthenticatedUser.userLoggedIn()">
    <!-- Notification Icon -->
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu" class="notification-icon" aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
      <!-- Optionally add a badge for unread count -->
      <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>
    </button>

    <mat-menu #notificationMenu="matMenu" class="notification-menu">
      <div class="notification-menu-container">
        <ng-container *ngIf="notifications && notifications.length; else noNotifications">
          <button mat-menu-item *ngFor="let notification of notifications"  [routerLink]="notification.type | notificationLink" (click)="markNotificationAsRead(notification)">
            <mat-icon>{{ notification.type | notificationIcon }}</mat-icon>
            <span>{{ notification.message }}</span>

            <mat-divider></mat-divider>
          </button>
        </ng-container>
        <ng-template #noNotifications>
          <div class="no-notifications"> No new notifications </div>
        </ng-template>
      </div>
    </mat-menu>
  </ng-container>


  <!-- Conditional Menu Items -->
  <ng-container *ngIf="AuthenticatedUser.userLoggedIn(); else loggedOutMenu">
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="account-icon" aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="/user-dashboard/settings">
        <mat-icon>settings</mat-icon> Account Settings
      </button>
      <button mat-menu-item routerLink="/user-dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #loggedOutMenu>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="account-icon" aria-label="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon> Login
      </button>
      <button mat-menu-item routerLink="/signup">
        <mat-icon>person_add</mat-icon> Sign Up
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
