<app-navbar></app-navbar>
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    mode="side"
    class="sidebar"
    [opened]="isDesktopView"
    [disableClose]="isDesktopView"
  >
    <br /><br /><br />
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/admin-dashboard/users" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Users</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/admin-dashboard/search" routerLinkActive="active">
        <mat-icon>search</mat-icon>
        <span>Search criteria</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/admin-dashboard/chats" routerLinkActive="active">
        <mat-icon>chat</mat-icon>
        <span>Chats</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Top Navigation & Main Content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Hamburger menu for mobile view -->
      <button
        mat-icon-button
        (click)="toggleSidenav(sidenav)"
        aria-label="Toggle navigation"
        *ngIf="!isDesktopView"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="dashboard-title">Admin Dashboard</span>
    </mat-toolbar>

    <!-- Main Content Area -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
