<mat-dialog-content class="dialog-content">
  <h2 class="dialog-title">Lesson Summary</h2>
  <div *ngIf="data.lesson.displayName">
    <h3>With: {{ data.lesson.displayName}}</h3>
  </div>
  <div class="lesson-details">
    <p><strong>Start Time:</strong>
      {{ data.lesson.availabilityDto.startTime | date: 'HH:mm' }}
    </p>
    <p><strong>End Time:</strong>
      {{ data.lesson.availabilityDto.endTime | date: 'HH:mm' }}
    </p>
    <p><strong>Lesson Type:</strong> {{ data.lesson.lessonType || 'Not specified' }}</p>
  </div>

  <div *ngIf="showMap" class="map-container">
    <google-map [center]="{ lat: latitude, lng: longitude }" [zoom]="zoom" height="300px" width="100%">
      <map-marker [position]="{ lat: latitude, lng: longitude }"></map-marker>
    </google-map>
    <br>
    <p>Please always verify the location with all parties as google maps can be inaccurate.</p>
  </div>
<br>
  <div class="lesson-actions">
    <button mat-raised-button color="primary" (click)="redirectToStudyHub()">
      <mat-icon>book</mat-icon> Go To Study Hub
    </button>
    <div class="cancel-container">
      <mat-checkbox [(ngModel)]="resetAvailability" name="resetAvailability">
        Automatically set availability to available
      </mat-checkbox>
      <button mat-raised-button color="warn" (click)="cancelLesson()">
        <mat-icon>close</mat-icon> Cancel
      </button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>


