<div class="container">
  <mat-card class="disclaimer-card">
    <mat-icon class="warning-icon">warning</mat-icon>
    <p>
      <strong>Important:</strong> Payment cannot be deleted once marked as paid, as the other party may retain it for records.
      See our <a href="/terms-and-conditions" target="_blank">full terms and conditions</a> regarding data retention.
    </p>
  </mat-card>

  <mat-card class="create-payment-container">
    <div class="create-payment-form">
      <h2>Create a Payment</h2>
      <form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">
        <mat-form-field appearance="outline">
          <mat-label>Select Tuition</mat-label>
          <mat-select formControlName="tuition" (selectionChange)="fetchLessons($event.value)">
            <mat-option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.displayName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Select Lesson</mat-label>
          <mat-select formControlName="lesson" (selectionChange)="onLessonChange($event.value)">
            <mat-option *ngFor="let lesson of lessons" [value]="lesson.id">
              {{ lesson.availabilityDto.startTime | date:'dd-MM-yyyy HH:mm' }} - {{ lesson.availabilityDto.endTime | date:'dd-MM-yyyy HH:mm' }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput type="date" formControlName="dueDate" />
        </mat-form-field>

        <h3><strong>Add an Invoice</strong></h3>
        <input type="file" #fileInput (change)="onFileSelect($event)" accept=".pdf, .jpg, .jpeg, .png" />
        <p *ngIf="paymentForm.controls['invoice'].errors?.['invalidFileType']" class="error-text">
          Only PDF, JPG, and PNG files are allowed.
        </p>
        <p *ngIf="paymentForm.controls['invoice'].errors?.['fileTooLarge']" class="error-text">
          File size must be less than 5MB.
        </p>
        <br><br>
        <p *ngIf="selectedFileName">
          Selected File: {{ selectedFileName }}
          <button mat-button color="warn" (click)="removeSelectedFile(fileInput)">Remove File</button>
        </p>

        <button mat-raised-button color="primary" type="submit">Submit Payment</button>
      </form>
    </div>

    <div class="create-payment-image">
      <img src="assets/istockphoto-1349722626-612x612.jpg" alt="Payment Illustration" />
    </div>
  </mat-card>

  <mat-card>
    <h2>Payments</h2>
    <mat-tab-group (selectedTabChange)="applyFilter()">
      <mat-tab label="All" (click)="selectedStatus='All'"></mat-tab>
      <mat-tab label="Due" (click)="selectedStatus='Due'"></mat-tab>
      <mat-tab label="Paid" (click)="selectedStatus='Paid'"></mat-tab>
      <mat-tab label="Overdue" (click)="selectedStatus='Overdue'"></mat-tab>
    </mat-tab-group>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let payment">
            <mat-checkbox (change)="$event ? toggleRow(payment) : null" [checked]="selectedPayments.includes(payment)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let payment">{{ payment.displayName }}</td>
        </ng-container>

        <ng-container matColumnDef="lessonDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Lesson Date</th>
          <td mat-cell *matCellDef="let payment">{{ payment.lessonDate | date:'dd/MM/yyyy HH:mm' }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let payment">{{ payment.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let payment">{{ payment.status }}</td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Due/Paid Date</th>
          <td mat-cell *matCellDef="let payment">
            {{ payment.status === 'Paid' && payment.paidOn ? (payment.paidOn | date:'dd-MM-yyyy ') :
            (payment.dueDate ? (payment.dueDate | date:'dd-MM-yyyy ') : 'N/A') }}
          </td>
        </ng-container>
        >

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let payment">
            <button mat-button color="accent" (click)="viewInvoice(payment)">View Invoice</button>

            <!-- Show disabled button with sent date if reminder was sent -->
            <button mat-button color="warn" disabled *ngIf="payment.reminderSentOn">
              Sent on {{ payment.reminderSentOn | date:'dd/MM/yyyy' }}
            </button>

            <!-- Show "Send Reminder" button only if a reminder has NOT been sent and payment is NOT Paid -->
            <button mat-button color="warn"
                    *ngIf="!payment.reminderSentOn && payment.status !== 'Paid'"
                    (click)="sendReminder(payment.id)">
              Send Reminder
            </button>

          </td>
        </ng-container>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    <div class="paid-button-container">
      <button mat-raised-button color="accent" class="paid-button"
              (click)="markAsPaid()"
              [disabled]="!selectedPayments.length || hasPaidPayments()">
        Mark as Paid
      </button>

    </div>
  </mat-card>
</div>
