.sidenav-container {
  height: 100vh; /* Full height */
}

.sidebar {
  width: 240px;
  background-color: #ffffff
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content {
  padding: 16px;
  overflow-y: auto; /* Scrollable content */
}
.dashboard-title {
  font-size: 1.5rem;
  font-weight: bold;
}
