<app-navbar></app-navbar>
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    mode="side"
    class="sidebar"
    [opened]="isDesktopView"
    [disableClose]="isDesktopView"
  >
    <br>
    <br>
    <br>
    <mat-nav-list>
      <a mat-list-item routerLink="/user-dashboard/update-profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Update Profile</span>
      </a>
      <br>
      <a mat-list-item routerLink="/user-dashboard/my-tuitions" routerLinkActive="active">
        <mat-icon>school</mat-icon>
        <span>My Tuitions</span>
      </a>
      <br>
      <a mat-list-item routerLink="/user-dashboard/study-hub" routerLinkActive="active">
        <mat-icon>book</mat-icon>
        <span>Study Hub</span>
      </a>
      <br>
      <a mat-list-item routerLink="/user-dashboard/payments" routerLinkActive="active">
        <mat-icon>payment</mat-icon>
        <span>Payments</span>
      </a>
      <br>
      <a mat-list-item routerLink="/user-dashboard/chats" routerLinkActive="active">
        <mat-icon>chat</mat-icon>
        <span>Chats</span>
      </a>
      <br>

      <a
        mat-list-item
        routerLink="/user-dashboard/schedule"
        routerLinkActive="active"
        *ngIf="isTutorProfile()"
      >
       <mat-icon>schedule</mat-icon>
        <span>Schedule</span>
      </a>
      <br>
      <a mat-list-item routerLink="/user-dashboard/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Top Navigation -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Hamburger menu for mobile view -->
      <button
        mat-icon-button
        (click)="toggleSidenav(sidenav)"
        aria-label="Toggle navigation"
        *ngIf="!isDesktopView"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="dashboard-title">User Dashboard</span>
    </mat-toolbar>

    <!-- Main Content Area -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
