<app-navbar></app-navbar>
<form [formGroup]="updatePasswordForm" class="login-form" (ngSubmit)="onSubmit()">
  <mat-card class="login-card double-width-card">
    <div class="left-side">
      <mat-card-title>Update Password</mat-card-title>
      <mat-card-content>
        <p>Please enter your new password</p>
        <div *ngIf="successMessage" class="success-message">
          <mat-card>{{ successMessage }}</mat-card>
        </div>

        <div *ngIf="errorMessage" class="error-message">
          <mat-error>{{ errorMessage }}</mat-error>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-icon matPrefix>password</mat-icon>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Enter a new password"
            required
          />
          <mat-error *ngIf="updatePasswordForm.get('password')?.invalid && updatePasswordForm.get('password')?.touched">
            Password must be at least 8 characters long.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-icon matPrefix>password</mat-icon>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm your new password"
            required
          />
          <mat-error
            *ngIf="
              updatePasswordForm.get('confirmPassword')?.invalid &&
              updatePasswordForm.get('confirmPassword')?.touched
            "
          >
            Please confirm your password.
          </mat-error>
        </mat-form-field>

        <mat-error
          *ngIf="
    updatePasswordForm.errors?.['passwordsMismatch'] &&
    updatePasswordForm.touched
  "
        >
          Passwords do not match.
        </mat-error>
        <mat-card-actions class="button-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="!updatePasswordForm.valid">
            Update Password
          </button>
        </mat-card-actions>

        <div class="back-to-login">
          <a routerLink="/login">Back to Login</a>
        </div>
      </mat-card-content>
    </div>
    <div class="right-side">
      <img src="./assets/pexels-yankrukov-8520444.jpg" alt="Forgot Password Image" class="login-image" />
    </div>
  </mat-card>
</form>
