
<app-navbar></app-navbar>
<!-- Welcome Container -->
<div class="welcome-container">
  <h1>Welcome to TuneUp</h1>
  <p>Take the next step in Music Mastery Today</p>
  <button mat-raised-button color="primary">Get Started</button>
</div>

<div class="services-container">
  <h2>Our Services</h2>
</div>

<div class="image-links-container">
  <div class="image-link">
    <img src="./assets/student.png" alt="Students" />
    <a href="/students">Students</a>
  </div>
  <div class="image-link">
    <img src="./assets/student.png" alt="Tutors" />
    <a href="/tutors">Tutors</a>
  </div>
  <div class="image-link">
    <img src="./assets/student.png" alt="Groups" />
    <a href="/groups">Groups</a>
  </div>
  <div class="image-link">
    <img src="./assets/student.png" alt="Parents" />
    <a href="/parents">Parents</a>
  </div>
</div>

<app-footer></app-footer>
