.chat-container {
  padding: 20px;
  background-color: #ffffff;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversation-card mat-card {
  margin: 10px;
  padding: 10px;
  background-color: #faeeee;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(44, 62, 80, 0.4);
}

.conversation-card mat-card:hover {
  background-color: #ceceef;
  transform: scale(1.02);
}

.last-message {
  color: gray;
}

.timestamp {
  font-size: 12px;
  color: lightgray;
}

.no-conversations-container {
  text-align: center;
  margin: 20px;
}

.no-conversations-container h1 {
  font-size: 50px;
}


.conversation-item {
  display: flex;
  align-items: flex-start;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.conversation-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.participant-name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.last-message {
  margin: 4px 0 0;
  font-size: 14px;
  color: #666;
}

.timestamp {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

.chat-split-container {
  display: flex;
  height: 100%;
}


.conversation-list {
  width: 25%;
  border-right: 1px solid rgba(106, 103, 103, 0.2);
  padding: 30px;
  overflow-y: auto;
}

.conversation-card mat-card {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(44, 62, 80, 0.2);
}

.conversation-card mat-card:hover {
  transform: scale(1.02);
  background-color: #ceceef;
  box-shadow: 0 4px 10px rgba(44, 62, 80, 0.3);
}


.conversation-item {
  display: flex;
  align-items: flex-start;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.conversation-details {
  display: flex;
  flex-direction: column;
}

.participant-name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.last-message {
  margin: 4px 0 0;
  font-size: 14px;
  color: #666;
}
.conversation-list {
  width: 500px;

}

/* When in mobile mode, make the conversation list full width */
.conversation-list.full-screen {
  width: 100%;
}
.chat-display {
  flex: 1; /* This container will automatically take up the remaining space */
}


