<mat-card class="chat-container">
  <div *ngIf="isLoading" class="loading-container">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    <p>Loading Conversations...</p>
  </div>


  <!-- Conversations List -->
  <ng-container *ngIf="!isLoading && conversations.length > 0;else noConversations">
    <div *ngFor="let convo of conversations"
         class="conversation-card"
         (click)="selectConversation(convo)"
         [class.selected]="convo.id === selectedConversation?.id">
      <mat-card>
        <h3>{{ convo.participants.join(', ') }}</h3>
        <mat-card-subtitle>
      <span class="last-message">
  {{ convo?.lastMessage ? (convo.lastMessage | slice:0:50) + (convo.lastMessage.length > 50 ? '...' : '') : 'No messages yet' }}
</span>

          <br>
          <span class="timestamp">{{ convo.lastMessageTimestamp | date: 'medium' }}</span>

        </mat-card-subtitle>
      </mat-card>
    </div>
  </ng-container>

  <!-- No Conversations Message -->
  <ng-template #noConversations>
    <div class="no-conversations-container">
      <h1>😕</h1>
      <h2>No Conversations yet</h2>
      <p>Try reloading or start a new conversation!</p>
      <button mat-raised-button color="primary" (click)="fetchConversations()">Refresh</button>
    </div>
  </ng-template>
  <br>
  <!-- Start New Conversation Button -->
  <div class="new-conversation">
    <button mat-raised-button color="accent" (click)="openNewConversationDialog()">
      <mat-icon>chat</mat-icon> Start New Conversation
    </button>
  </div>

</mat-card>
