<mat-card class="chat-container">
  <div class="chat-split-container">
    <!-- Left Panel: Conversations List -->
    <div class="conversation-list" [ngClass]="{'full-screen': isMobile}">
      <div *ngIf="isLoading" class="loading-container">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        <p>Loading Conversations...</p>
      </div>

      <ng-container *ngIf="!isLoading && conversations.length > 0; else noConversations">
        <h1><strong> All Conversations</strong> </h1>
        <div class="new-conversation">
          <button mat-raised-button color="accent" (click)="openNewConversationDialog()">
            <mat-icon>chat</mat-icon>
            Start New Conversation
          </button>
        </div>
        <br>
        <mat-divider></mat-divider>
        <div *ngFor="let convo of conversations"
             class="conversation-card"
             (click)="selectConversation(convo)"
             [class.selected]="convo.id === selectedConversation?.id">
          <mat-card>
            <ng-container
              *ngIf="getOtherParticipant(convo.participants, AuthenticatedUser.getAuthUserProfileId()) as participant">
              <div class="conversation-item">
                <img
                  [src]="participant.profilePictureUrl || 'https://storage.googleapis.com/download/storage/v1/b/tuneup_profile_images/o/79a88d6b-8196-49cf-9cde-d6d4d3bf10fd-defaultProfilePicture.jpg?generation=1735034744997677&alt=media'"
                  class="profile-picture">
                <div class="conversation-details">
                  <h3 class="participant-name">{{ participant.displayName }}</h3>
                  <p class="last-message">
                    {{ convo?.lastMessage ? (convo.lastMessage | slice:0:50) + (convo.lastMessage.length > 50 ? '...' : '') : 'No messages yet' }}
                  </p>
                  <span class="timestamp">{{ convo.lastMessageTimestamp | date: 'medium' }}</span>
                </div>
              </div>
            </ng-container>
          </mat-card>
        </div>
      </ng-container>

      <!-- No Conversations Message -->
      <ng-template #noConversations>
        <div class="no-conversations-container">
          <h1>😕</h1>
          <h2>No Conversations yet</h2>
          <p>Try reloading or start a new conversation!</p>
          <button mat-raised-button color="primary" (click)="fetchConversations()">Refresh</button>
        </div>
      </ng-template>

      <mat-paginator [length]="totalElements"
                     [pageSize]="pageSize"
                     [pageIndex]="pageIndex"
                     (page)="onPageChange($event)">
      </mat-paginator>

      <br>
    </div>

    <!-- Right Panel: Chat Display (only on desktop) -->
    <div class="chat-display" *ngIf="!isMobile">
      <ng-container *ngIf="selectedConversation;">
        <app-chat-dialogue
          [conversation]="selectedConversation"
          [userProfileId]="userProfileId">
        </app-chat-dialogue>
      </ng-container>
    </div>
  </div>
</mat-card>
